<div class="file-upload-overlay"></div>
<div class="file-upload-modal">
    <div class="file-upload-card">
        <h2 class="file-upload-title">Upload File</h2>
        <form [formGroup]="formGroup" (ngSubmit)="onFileUpload($event)">
            <div class="mb-4">
                <label for="fileInput" class="file-upload-label">Choose File</label>
                <input
                    type="file"
                    id="fileInput"
                    (change)="onFileChange($event)"
                    class="file-upload-input"
                />
                <div class="mb-4"></div>
                @if (errorMessage) {
                    <div class="file-upload-error">{{errorMessage}}</div>
                }
            </div>
            <div class="flex justify-end">
                <app-my-button
                    variant="secondary"
                    label="Cancel"
                    type="button"
                    (clicked)="onCancel()"
                ></app-my-button>
                <div class="ml-2"></div>
                <app-my-button
                    variant="primary"
                    type="submit"
                    label="Submit"
                ></app-my-button>
            </div>
        </form>
    </div>
</div>
