<div class="flex h-screen">
  <!-- Sidebar -->
  <aside
    class="fixed inset-y-0 left-0 w-64 bg-gray-800 text-white transform transition-transform duration-300"
  >
    <div
    *ngIf="pageTitle$ | async as title"
     class="p-4 text-2xl font-bold border-b border-gray-700">{{title}}</div>
    <nav class="p-4 space-y-2">
      @for (item of menuItems; track $index) {
        @if (item.children) {
            <a
            (click)="toggleParentExpand(item.label)"
             class="block py-2 px-3 rounded hover:bg-gray-700 cursor-pointer font-semibold text-gray-200">
                {{item.label}}
        </a>

            @if (isExpanded(item.label)) {
                <div class="ml-4 space-y-1">
                    @for (child of item.children; track $index) {
                      <div *ngIf="userRole$ | async as role">
                        @if ((child.roles?.includes(role.role))) {
                          <a
                          class="block py-2 px-3 rounded hover:bg-gray-700"
                              [routerLink]="child.route"
                          >
                              {{child.label}}
                          </a>
                        }
                      </div>
                    }
                </div>
            }
        } @else {
            <a
                class="block py-2 px-3 rounded hover:bg-gray-700 font-semibold text-gray-200"
                [routerLink]="item.route"
            >
                {{item.label}}
            </a>
        }
      
      }
    </nav>
  </aside>

  <!-- Main content -->
  <div class="flex-1 flex flex-col ml-0 lg:ml-64 transition-all duration-300">
    <!-- Topbar -->
    <header class="bg-white shadow p-4 flex justify-between items-center">
      <!-- Hamburger -->
      <h1
      *ngIf="pageTitle$ | async as title"
      class="text-lg font-semibold">{{title}}</h1>
      <button
      (click)="logout()"
        class="py-2 px-4 bg-gray-800 text-white rounded hover:bg-white hover:text-gray-800 border border-gray-800 transition-colors duration-300"
      >
        Logout
      </button>
    </header>

    <!-- Page Content -->
    <main class="p-6 flex-1 overflow-y-auto">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
