# Build results
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
**/bin/
**/obj/

# Visual Studio user specific files
.vs/
*.suo
*.user

# NuGet and dependency-related files
*.nupkg
*.nuspec
packages/
**/packages/*
*.csproj.nuget.*
*.g.props
*.g.targets
*.DotSettings.user

# Rider
.idea/

# Other
Thumbs.db

# ===== Node / Angular =====
/frontend/node_modules
/frontend/dist
/frontend/.angular
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local


# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment files
*.env