<div class="min-h-screen flex items-center justify-center bg-gray-50">
  <ui-card class="w-full max-w-md">
    <ui-card-header>
      <ui-card-title class="text-center">Claim Resident Parcel</ui-card-title>
      <ui-card-description class="text-center"
        >Enter the tracking number to claim your parcel</ui-card-description
      >
    </ui-card-header>
    <ui-card-content>
      <form [formGroup]="formGroup" (ngSubmit)="onClaim()">
        <div class="space-y-4">
          <div class="space-y-2">
            <ui-label htmlFor="trackingNumber">Tracking Number</ui-label>
            <ui-input
              formControlName="trackingNumber"
              type="text"
              id="trackingNumber"
              placeholder="Enter parcel's tracking number"
              [error]="
                formGroup.get('trackingNumber')?.invalid &&
                formGroup.get('trackingNumber')?.touched
              "
            />
          </div>
          <ui-button
            type="submit"
            [disabled]="!formGroup.valid"
            [variant]="formGroup.valid ? 'default' : 'secondary'"
            class="w-full"
          >
            Claim Parcel
          </ui-button>
          <div *ngIf="claimResponse$ | async as res">
            @if (res.error) {
            <ui-alert variant="destructive">
              <ui-alert-description>Error: {{ res.message }}</ui-alert-description>
            </ui-alert>
            } @else {
            <ui-alert>
              <ui-alert-description>Success: Parcel successfully claimed!</ui-alert-description>
            </ui-alert>
            }
          </div>
        </div>
      </form>
    </ui-card-content>
  </ui-card>
</div>