

@let claimResponse = claimResponse$ | async;

<div class="flex justify-end mb-1">
    <app-my-button
        variant="primary"
        label="Bulk Claim"
        type="button"
        (clicked)="onBulkClaimPopup()"
    ></app-my-button>
</div>

@if (isBulkClaimPopup) {
    <app-file-upload
        [mapper]="payloadMapper"
        (cancelEmitter)="onBulkClaimPopup()"
        (dataEmitter)="onBulkClaim($event)"
    ></app-file-upload>
}

<div>
    <app-my-form
        [myFormGroup]="formGroup"
        [myFields]="formFieldConfigs"
        submitLabel="Claim Parcel"
        [isSubmitLoading]="isClaiming"
        (submitted)="onClaim($event)"
    ></app-my-form>

    @if (claimResponse && 'error' in claimResponse) {
        <div class="text-red-500 text-sm">
            {{ claimResponse.message}}
        </div>
    }

    @if (claimResponse && !('error' in claimResponse)) {
        <div class="text-green-500 text-sm">
            {{claimResponse.message}}
        </div>
    }
</div>