@if (data.length > 0) {
<div class="my-table-wrapper">
  <table class="my-table">
    <thead class="my-table-thead">
      <tr>
        <th class="my-table-th">#</th>
        @for (column of columns; track $index) {
        <th class="my-table-th">{{ column.label }}</th>
        }
      </tr>
    </thead>

    <tbody class="my-table-tbody">
      @for (dataItem of data; track $index) {
      <tr>
        <td class="my-table-td">{{ $index + 1 }}</td>
        @for (column of columns; track $index) { @if (!column.isActionColumn) {
        <td class="my-table-td">{{ getCellValue(dataItem, column.key) }}</td>
        } @else {
        <td>
          <div class="my-table-action-cell">
            <app-my-button [label]="column.label" (clicked)="onActionClicked(dataItem)">
            </app-my-button>
          </div>
        </td>
        } }
      </tr>
      }
    </tbody>
  </table>
</div>

@if (data.length > 0) {
<app-pagination
  [count]="count"
  [inCurrentPage]="paginationCurrentPage"
  [inPageSize]="paginationPageSize"
  (paginationDataEmitter)="onPaginationClicked($event)"
>
</app-pagination>
} } @else {
<div class="my-table-empty">
  <span>No data available.</span>
</div>
}
