<form [formGroup]="myFormGroup">
    @for (field of myFields; track $index) {
        <label
            class="text-[var(--clr-dark-a0)]"
        >{{ field.label }}</label>
        <input
            class="mt-1 text-[var(--clr-dark-a0)] w-full px-4 py-2 border border-[var(--clr-surface-tonal-a20)] rounded-lg focus:outline-none focus:ring-2 focus:ring-[var(--clr-surface-tonal-a0)] focus:border-[var(--clr-surface-tonal-a50)]"
            [formControlName]="field.controlName"
            [placeholder]="field.placeholder"
            [type]="field.type"
        >
        @if (myFormGroup.get(field.controlName)?.invalid && myFormGroup.get(field.controlName)?.touched) {
            <div class="text-red-500 text-sm">{{ getErrorMessage(field.controlName) }}</div>
        }
        <div class="mb-3" ></div>
    }
    <div
        class="mb-3"
    ></div>
    <div class="flex justify-end">
        <div
            class="w-1/6"
        >
            <app-my-button
                variant="primary"
                [label]="submitLabel"
                type="submit"
                [disabled]="myFormGroup.invalid"
                (clicked)="onSubmit()"
                [isLoading]="isSubmitLoading"
            ></app-my-button>
        </div>
    </div>
</form>