<div class="pagination-container">
  <!-- Left Side: page size selector -->
  <div class="pagination-page-size">
    Showing
    <select [(ngModel)]="inPageSize" (change)="onPageSizeChanged($event)" name="pageSize">
      <option *ngFor="let pageSize of pageSizeOptions" [value]="pageSize">
        {{ pageSize }}
      </option>
    </select>
    {{ inPageSize > 1 ? 'results' : 'result' }}
    of {{ count }}
  </div>

  <!-- Right Side: page navigation -->
  <div class="pagination-nav">
    <app-my-button label="Previous" (clicked)="onPageNavigate(inCurrentPage - 1)"></app-my-button>
    <div *ngFor="let item of pageNavDisplay; let i = index">
      <button
        (click)="onPageNavigate(item)"
        class="pagination-page-btn"
        [class.active]="inCurrentPage === item"
        [disabled]="typeof item !== 'number'"
      >
        {{ item }}
      </button>
    </div>
    <app-my-button label="Next" (clicked)="onPageNavigate(inCurrentPage + 1)"></app-my-button>
  </div>
</div>
