@let checkInResponse = checkInResponse$ | async;

<div class="mb-1 flex justify-end">
  <app-my-button
    variant="primary"
    label="Bulk Check In"
    type="button"
    (clicked)="onBulkCheckInPopup()"
  ></app-my-button>
</div>

@if (isBulkCheckInPopup) {
  <app-file-upload
    [mapper]="payloadMapper"
    (cancelEmitter)="onBulkCheckInPopup()"
    (dataEmitter)="onUploadFinished($event)"
  ></app-file-upload>
}

<div>
  <app-my-form
    [myFormGroup]="formGroup"
    [myFields]="formFieldsConfig"
    submitLabel="Check In Parcel"
    (submitted)="onCheckIn($event)"
    [isSubmitLoading]="isCheckingIn"
  >
  </app-my-form>

@if (checkInResponse && 'error' in checkInResponse) {
  <div class="text-red-500 text-sm">
    {{ checkInResponse.message}}
  </div>
}
</div>