<div class="flex items-center justify-center min-h-screen">
  <div class="w-full max-w-md">
    @if (isBulkCheckInPopup) {
    <div class="relative">
      <app-file-upload
        [mapper]="payloadMapper"
        (cancelEmitter)="onBulkCheckInPopup()"
        (dataEmitter)="onUploadFinished($event)"
      ></app-file-upload>
    </div>
    }
    <h1 class="text-2xl font-bold text-center text-gray-800 mb-6">Parcel Check-In</h1>
    <form [formGroup]="formGroup" (ngSubmit)="onCheckIn()" class="space-y-4">
      <div>
        <label for="trackingNumber" class="block text-sm font-medium text-gray-700"
          >Tracking Number</label
        >
        <input
          formControlName="trackingNumber"
          type="text"
          id="trackingNumber"
          name="trackingNumber"
          placeholder="Enter tracking number"
          class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
        />
      </div>
      <div>
        <label for="residentUnit" class="block text-sm font-medium text-gray-700"
          >Resident Unit</label
        >
        <input
          formControlName="residentUnit"
          type="text"
          id="residentUnit"
          name="residentUnit"
          placeholder="Enter resident unit"
          class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
        />
      </div>
      <div>
        <label for="locker" class="block text-sm font-medium text-gray-700"
          >Locker</label
        >
        <input
          formControlName="locker"
          type="text"
          id="locker"
          name="locker"
          placeholder="Enter locker"
          class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
        />
      </div>
      <div class="text-center">
        <button
          [ngClass]="{ 'opacity-50 cursor-not-allowed': !formGroup.valid }"
          [disabled]="!formGroup.valid"
          type="submit"
          class="w-full py-2 bg-gray-500 text-white px-4 rounded-md hover:bg-white hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2"
        >
          Check In
        </button>
        <div class="mb-4"></div>
        <button
          (click)="onBulkCheckInPopup()"
          class="w-full py-2 bg-gray-500 text-white px-4 rounded-md hover:bg-white hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2"
        >
          Bulk Check In
        </button>
      </div>
    </form>
    <div *ngIf="checkInResponse$ | async as res">
      @if (res.error) {
      <div class="mt-4 p-4 bg-red-100 text-red-700 rounded-md">
        <p>{{ res.message }}</p>
      </div>
      }
      @else {
      <div class="mt-4 p-4 bg-green-100 text-green-700 rounded-md">
        <p>Parcel {{ res.trackingNumber }} has been successfully checked in!</p>
      </div>
      }
    </div>
    @if (bulkCheckInResponse$ |async; as bulkUploadRes) {
      @if (bulkUploadRes.error) {
        <div class="mt-4 p-4 bg-red-100 text-red-700 rounded-md">
        <p>{{ bulkUploadRes.message }}</p>
        @for (item of bulkUploadRes.errors; track $index) {
          <p>Row: {{item.row}}</p>
          <p>Details: {{item.errorDetail}}</p>
        }
      </div>
      }
    }
  </div>
</div>
